.ContainerPrincipal{
    display: flex;         /* Activa flexbox */
  align-items: center;   /* Alinea los elementos verticalmente */
  justify-content: space-between; /* Distribuye los elementos */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  gap: 10px; 
}
.ContainerTittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.ContainerButtonSprint{
  margin-top: 20px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  size: 30px;
}
.buttonEnviar{
  font-size: 20px;
  /* width: 120px;
  height: 40px; */
  border: none;
  padding:  5px 20px;
  background-color: #637794;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #302f2f; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSprint{
  color: #000000;
  font-size: 20px;
  /* width: 120px;
  height: 40px; */
  border: 1px solid black;
  padding:  5px 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}