.container {
  display: grid;
  grid-template-columns: 20vw 80vw;
   /* En pantallas grandes vuelve a su diseño original */
}

.sidebar {
  height: 100vh;
}

.content {
  /* width: 70%;
  height: 100vh; */
  
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Oculta el scroll horizontal */
  width: 100%;
}
  