/* Fondo oscuro translúcido */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Contenido del modal */
  .modalContent {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #e0f2ff;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  
    /* Agrega espacio interno */
    padding: 20px;
  
    /* Para espaciar los elementos hijos */
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    /* Centrado si lo necesitas */
    margin: 40px auto;
    text-align: left;
  }
  
  
  /* Botón de cerrar */
  .modalContent button {
    background: #ff6b6b;
    color: black;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .modalContent button:hover {
    background: #ff4f4f;
  }
  